@model IEnumerable<Give_Aid.register>

@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/layout_backend.cshtml";
}

<h2>register</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.ActionLink("Edit", "edit_register", new { id=item.id }) |

            @Html.ActionLink("Delete", "Delete_register", new { id=item.id })
        </td>
    </tr>
}

</table>
